__pycache__*
.vscode*
*~lock*
*.egg-info
/build
/dist
/venv
*_build

.mypy_cache
.cache
.eggs
.tox
*.swp
*.pyc

# Temp files (tests etc...)
run.sh
run_alibaba.sh
init_setup.sh

# Result files
*/instance_file.txt
*.log
*.svg
*results.csv
*times.csv
*evo.csv

# .lp files (created by CPLEX)
*.lp

# ide files
.idea/

# doc built
*/build

# test file
/tests