---
image: docker:stable

services:
  - docker:dind

.docker_login: &docker_login |
  echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

stages:
  - test
  - build
  - publish

run-tests-py310:
  stage: test
  image: python:3.10-slim-bullseye
  script:
    - apt update
    - apt install -y python-dev build-essential libopenblas-dev gfortran libboost-thread-dev
    - pip install wheel tox
    - tox -e py310,flake8,safety

build-master:
  stage: build
  script:
    - *docker_login
    - docker build --pull -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE"
  only:
    refs:
      - main

build:
  stage: build
  script:
    - *docker_login
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME"
  except:
    refs:
      - main

publish:
  stage: publish
  image: python:3.10
  only:
    refs:
      - main
  script:
    - pip install --upgrade build twine
    - python -m build
    - python -m twine upload --non-interactive --username __token__ --password $PYPI_API_TOKEN dist/*
